<table class="table table-striped table-hover">
 <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Region</th>
        <th>Options</th>
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let e of empCollection; index as i">
        <td>{{i+1}}</td>
        <td>{{e.FirstName}}</td>
        <td>{{e.LastName}}</td>
        <td>{{e.City}}</td>
        <td>{{e.RegionId}}</td>
        <td>
            <input type="button" class="btn btn-link" value="Edit" (click)="editEmployee(e.id)" />
        </td>
    </tr>
 </tbody>
</table>