<form #addEmployee="ngForm" (submit) ="insertEmployee(addEmployee)" >
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtFName">First Name</label>
            <input id="txtFName" [(ngModel)]="employee.FirstName" name="FirstName" class="form-control"/>
        </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="txtLName">Last Name</label>
            <input id="txtLName" [(ngModel)]="employee.LastName" name="LastName" class="form-control"/>
            </div>
        </div>

        <div class="col-4">    
            <div class="mb-3">
                <label for="txtTitle">Title</label>
                <input id="txtTitle" [(ngModel)]="employee.Title" name="Title" class="form-control"/>
            </div>
        </div>
        
    </div>


   <div class="row">
    
        <div class="col-4">
            <div class="mb-3">
                <label for="txtCourtesy">Title Of Courtesy</label>
                <input id="txtCourtesy" [(ngModel)]="employee.TitleOfCourtesy" name="TitleOfCourtesy" class="form-control"/>
            </div> 
        </div>
    

        <div class="col-4">
            <div class="mb-3">
                <label for="txtbirthdate">Birth Date</label>
                <input type="date" id="txtBirthdate" [(ngModel)]="employee.BirthDate" name="BirthDate" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="txtHiredate">Hire Date</label>
                <input type="date" id="txtHiredate" [(ngModel)]="employee.HireDate" name="Hiredate" class="form-control"/>
            </div>
        </div>



   </div>


   <div class="row">

        <div class="col-4">
            <div class="mb-3">
                <label for="txtAddress">Address</label>
            <input id="txtAddress" [(ngModel)]="employee.Address" name="Address" class="form-control"/>
            </div>
        </div>



        <div class="col-4">
            <div class="mb-3">
                <label for="txtRegionId">RegionId</label>
            <input id="txtRegionId" [(ngModel)]="employee.RegionId" name="RegionId" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="txtPostalCode">PostalCode</label>
            <input id="txtPostalCode" [(ngModel)]="employee.PostalCode" name="PostalCode" class="form-control"/>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-3">
            <div class="mb-3">
                <label for="txtCountry">Country</label>
            <input id="txtCountry" [(ngModel)]="employee.Country" name="Country" class="form-control"/>
            </div>
        </div>

        <div class="col-3">
            <div class="mb-3">
                <label for="txtPhone">Phone</label>
            <input id="txtPhone" [(ngModel)]="employee.Phone" name="Phone" class="form-control"/>
            </div>
        </div>



    <div class="col-3">
        <div class="mb-3">
            <label for="ddlReports">Reports To</label>
            <select id="ddlReports" [(ngModel)]="employee.ReportsTo" name="ReportsTo" class="form-control">
                <option value="0">Select</option>
                <option value="1">Olivia</option>
                <option value="2">Sarah</option>
            </select>
        </div> 
    </div>

    <div class="col-3">
        <div class="mb-3">
            <label for="txtPhotoPath">PhotoPath</label>
        <input id="txtPhotoPath" [(ngModel)]="employee.PhotoPath" name="PhotoOath" class="form-control"/>
        </div>
    </div>

   </div>

    <input type="submit" value="Add Employee" class="btn btn-primary"/>
    <input type="button" value="Cancel" class="btn btn-default" (click)="resetPage(addEmployee)"/>
</form>