
  <nav
  id="sidebarMenu"
  class="collapse d-lg-block sidebar collapse bg-white"
  >
<div class="position-sticky">
 <div class="list-group list-group-flush mx-3 mt-4">
   <a class="list-group-item list-group-item-action py-2 ripple"
        href="#">
     <span >Home</span>
   </a>
   <a
      class="list-group-item list-group-item-action py-2 ripple"
      [routerLink]="'/region/list'">
      <span>Region</span>           
   </a>
   <a
      
      class="list-group-item list-group-item-action py-2 ripple"
      [routerLink]="'/employee/list'">
      <span>Employee</span>
  </a>
   
   <a
      class="list-group-item list-group-item-action py-2 ripple"
      [routerLink]="'/customer/list'">
      <span >Customer</span>
  </a>

  <a
      class="list-group-item list-group-item-action py-2 ripple"
      [routerLink]="'/product/list'">
      <span>Product</span>
  </a>

  <a
      class="list-group-item list-group-item-action py-2 ripple"
      [routerLink]="'/vendor/list'">
      <span>Vendor</span>
  </a>

      


   
 </div>
</div>
</nav>

<nav class="navbar navbar-expand-lg bg-light" style=" z-index: 2000">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CustomerCRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/employee/list'">List Employees</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="'/employee/add'">Add New Employee</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Region
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/region/list'">List Regions</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="'/region/add'">Add New Region</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/product/list'">List Products</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="'/product/add'">Add New Product</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Customer
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/customer/list'">List Customers</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="'/customer/add'">Add New Customer</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vendor
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/vendor/list'">List Vendors</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="'/vendor/add'">Add New Vendor</a></li>
            </ul>
          </li>
        
        
          
        </ul>
          <a class="btn btn-outline-primary" [routerLink]="'/account/signup'">Register</a>
          <button  class="btn btn-outline-success" type="submit" (click)="logout()" >Logout</button>
        
      </div>
    </div>
  </nav>




<div class="container">
  
    <router-outlet></router-outlet>
  
</div>


