<h1 >Employee Details</h1>
<div class="row">
    <div class="col-4">
        <img src="{{employee.photoPath}}" style="object-fit:cover" height="350px"/>
    </div>
    <div class="col-6">
        <table class="table table-bordered table-striped">
            <tr> 
                <td>First Name</td>
                <td>{{employee.firstName}}</td>
            </tr>
             <tr> 
                <td>Last Name</td>
                <td>{{employee.lastName}}</td>
            </tr>
            <tr> 
                <td>Title</td>
                <td>{{employee.title}}</td>
            </tr>
            <tr> 
                <td>Title Of Courtesy</td>
                <td>{{employee.titleOfCourtesy}}</td>
            </tr>
            <tr> 
                <td>Birth Date</td>
                <td>{{employee.birthDate}}</td>
            </tr>
            <tr> 
                <td>Hire Date</td>
                <td>{{employee.hireDate}}</td>
            </tr>
            <tr> 
                <td>Address</td>
                <td>{{employee.address}}</td>
            </tr>
            <tr> 
                <td>City</td>
                <td>{{employee.city}}</td>
            </tr>
            <tr> 
                <td>Postal Code</td>
                <td>{{employee.postalCode}}</td>
            </tr>
            <tr> 
                <td>Country</td>
                <td>{{employee.country}}</td>
            </tr>
            <tr> 
                <td>Phone</td>
                <td>{{employee.phone}}</td>
            </tr>
            <tr> 
                <td>Reports To</td>
                <td>{{employee.reportsTo}}</td>
            </tr>
        </table>
    </div>
</div>
<br>


    <div class="card" style="width: 18rem; display: inline-block;" *ngFor="let e of empCollection; index as i">
             <img class="card-img-top" style="object-fit:cover; height: 25rem" src="{{e.photoPath}}" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">{{e.firstName}} {{e.lastName}}</h5>
                 <p class="card-text">{{e.title}} | {{e.country}}</p>
                 <p class="card-text">{{e.city}} | {{e.phone}}</p>
                 <input type="button" class="btn btn-primary" value="Details" (click)="detail(e.id)" />
             </div>
    </div>
