<div class="row">
    <div class="col-4">
        <img src="{{employee.photoPath}}" width="200px" height="350px"/>
    </div>
    <div class="col-6">
        <table class="table table-bordered table-striped">
            <tr> 
                <td>First Name</td>
                <td>{{employee.firstName}}</td>
            </tr>
             <tr> 
                <td>Last Name</td>
                <td>{{employee.lastName}}</td>
            </tr>
            <tr> 
                <td>Title</td>
                <td>{{employee.title}}</td>
            </tr>
            <tr> 
                <td>Title Of Courtesy</td>
                <td>{{employee.titleOfCourtesy}}</td>
            </tr>
            <tr> 
                <td>Birth Date</td>
                <td>{{employee.birthDate}}</td>
            </tr>
            <tr> 
                <td>Hire Date</td>
                <td>{{employee.hireDate}}</td>
            </tr>
            <tr> 
                <td>Address</td>
                <td>{{employee.address}}</td>
            </tr>
            <tr> 
                <td>City</td>
                <td>{{employee.city}}</td>
            </tr>
            <tr> 
                <td>Postal Code</td>
                <td>{{employee.postalCode}}</td>
            </tr>
            <tr> 
                <td>Country</td>
                <td>{{employee.country}}</td>
            </tr>
            <tr> 
                <td>Phone</td>
                <td>{{employee.phone}}</td>
            </tr>
            <tr> 
                <td>Reports To</td>
                <td>{{employee.reportsTo}}</td>
            </tr>
        </table>
    </div>
</div>