<h1>Product Details</h1>


<div class="row">
    <div class="col-4">
        <img src="https://img.lovepik.com/free-png/20211211/lovepik-vendor-selling-fruit-png-image_401493255_wh1200.png" width="250px" height="250px"/>
    </div>
    <div class="col-7">
        <table class="table table-bordered table-striped">
            <tr> 
                <td>Name</td>
                <td>{{product.name}}</td>
            </tr>
             <tr> 
                <td>SupplierId</td>
                <td>{{product.supplierId}}</td>
            </tr>
            <tr> 
                <td>CategoryId</td>
                <td>{{product.categoryId}}</td>
            </tr>
            <tr> 
                <td>QuantityPerUnit</td>
                <td>{{product.quantityPerUnit}}</td>
            </tr>
            <tr> 
                <td>UnitPrice</td>
                <td>{{product.unitPrice}}</td>
            </tr>
            <tr> 
                <td>UnitsInStock</td>
                <td>{{product.unitsInStock}}</td>
            </tr>
            <tr> 
                <td>UnitsOnOrder</td>
                <td>{{product.unitsOnOrder}}</td>
            </tr>
            <tr> 
                <td>ReorderLevel</td>
                <td>{{product.reorderLevel}}</td>
            </tr>
            <tr> 
                <td>Discontinued</td>
                <td>{{product.discontinued}}</td>
            </tr>
            <tr> 
                <td>VendorId</td>
                <td>{{product.vendorId}}</td>
           
        </table>
    </div>
</div>
